RFC 3588 → RFC 6733?

The README refers to RFC 3588:
https://github.com/freeDiameter/freeDiameter/blob/a3dd2700369e20ff4edaf75042a0721f86a8081b/README#L7

[RFC 3588](https://datatracker.ietf.org/doc/html/rfc3588) is documented to be obsoleted by [RFC 6733](https://datatracker.ietf.org/doc/html/rfc6733):

![rfc3588](https://github.com/freeDiameter/freeDiameter/assets/3234522/a0926a58-5e0d-4d7a-835e-73874e87bbeb)

Should the README be updated? Same for RFC 4005 → RFC 7155?

It is a valid comment, however I have not checked the changes between the old and new RFQ and therefore I am not sure if we are fully compatible with the updated version... If you have this assessment ? (I am not working on Diameter protocol anymore on my side, I just maintain the implementation).


Good question, I don't really have the answer :smile:

I guess section [1.1.3 Changes from RFC 3588](https://datatracker.ietf.org/doc/html/rfc6733#section-1.1.3) of [RFC 6733](https://datatracker.ietf.org/doc/html/rfc6733) might help here:
> This document obsoletes [RFC 3588](https://datatracker.ietf.org/doc/html/rfc3588) but is fully backward compatible with that document.  The changes introduced in this document focus on fixing issues that have surfaced during the implementation of Diameter ([RFC 3588](https://datatracker.ietf.org/doc/html/rfc3588)).  An overview of some the major changes are given below.
> [...]